header{
	height: 80px;
	line-height: 20px;
	position: fixed;
	z-index:0;
	width: 100%;
	background-color: #b30000; 
	transition: all 0.3s ease-in;
}
.title {
	color: black;
	font-size: 18px;
	font-family: Helvetica;
	font-variant-caps: all-small-caps;
	padding-top: 30px;
	padding-left: 50px;
	text-decoration: none;
	display: inline-block;
}
header nav {
	float: right;
	padding-right: 40px;
}
#menu li {
	list-style: none;
	display: inline-block;
}
#menu li a {
	text-decoration: none;
	position: relative;
	color: black; 
	font-size: 18px;
	font-variant-caps: all-small-caps;
	font-family:Helvetica;
	display: block;
	overflow: hidden;
	padding: 10px 20px;
}
#menu li a:before {
	content: '';
	width: 30px;
	position: absolute;
	border-bottom: 3px black;
	bottom: 0;
	right: 350px;
	transition: 0.7s all;
}
#menu li a:hover:before {
	right: 0;
}
#menu li a:hover {
	color: black;
	transition: 0.7s all;
}
body{
  	background-color: #ffe6b3;
  	border: black;
}
h1{
  	font-family: Helvetica;
  	text-align: center;
  	font-size: 60px;
}
h2{
	color: #b30000;
  	font-family: Helvetica;
  	text-align: center;
}
li{
 	color: black;
  	font-weight: bold;
}
p{
  margin-right: 40px;
}
img#sitepic {
	width: 400px;
 	height: 200px;
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	border: solid #663300;
}
