body{
  background-color: #ffe6b3;
  border: medium solid black;
}

h1{
 font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 60px;
}

h2{
color: #b30000;
  font-family: 'Georgia', serif;
  text-align: center;
}

th#filler{
color: ivory;
}

li{
  color: black;
  font-weight: bold;
  
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

p{
  margin-right: 40px;
}
img#sitepic {
width: 400px;
 height: 200px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid #663300;
}

img#piece{
  
  width: 100px;
 height: 180px;
 border: solid #663300;
 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
border: solid #663300;
}

figure#fork{
	float: right;
}
figcaption{
	  text-align: center;
	  font-size: 10px;
}
header{
	height: 80px;
	line-height: 20px;
	position: fixed;
	z-index:1;
	width: 100%;
	background-color: #b30000; 
	box-shadow: 0px 0px 10px 0px;
}
.title{
	color: black; 
	font-size: 18px;
	font-family: Helvetica;
	font-variant-caps: caps;
	padding-top: 30px;
	padding-left: 50px;
	text-decoration: none;
	display: inline-block;
}
header nav {
	float: right;
	padding-right: 40px;
}
#menu li {
	list-style: none;
	display: inline-block;

}
#menu li a {
	text-decoration: none;
	position: relative;
	color: black; 
	font-size: 18px;
	font-family: Helvetica;
	font-variant-caps: caps;
	display: block;
	overflow: hidden;
	padding: 10px 20px;
}
