body {
	background-color: Peru;
	font: "Fira Sans", serif;
	border:4mm ridge black;
	margin:0px;
}
h1 { 
	color: DimGrey;
	font: "Fira Sans", serif;
}
h2 {
	color: DimGrey;
	font: "Fira Sans", serif;
	margin:0px;
}
p { 
	color: cornsilk;
	line-height: 25px;
}
a {
	color: cornsilk;
}
#tabs li {
	float:left;
	color: cornsilk;
	display: inline-block;
	list-style-type: none;
	padding-right: 40px
}
#tabs { 
  overflow: hidden
  margin: 0;
  padding: 0;
}
#tabs li a {
	overflow: hidden;
	margin: 0;
	padding: 8px;
	background-color: #333;
	text-decoration: none;
	position: relative;
	top: 0;
	width: 100%;
	display:block;
}
li a:hover {
  background-color: #ddd;
}
li a:active {
  background-color: #353432;
}
